<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    
    <h1>Hellow Vue js (v-for)</h1>
    <div id="app">
       
      
  
        <p v-for="(val, key) in cars">
            {{ key }} : {{ val }}
        </p>
              <hr></hr>
          <p v-for="(val, index, key) in user">
           {{ key }}: {{ index }} : {{ val }}
        </p>
              <hr></hr>
        <p v-for="n in 5">
            {{ n }}
        </p>

    </div>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>